  <% mark_as_read(message) %>
  <article id='message-single'>
    <header>
      <span class='message-sender'><%= message.sender.email %></span>
      <time><%= time_ago_in_words message.created_at %></time>
    </header>

    <p><%= message.body %></p>
    <p>Message Read: <%= message.read %></p>
  </div>