<% if signed_in? %>
	<div class="row">
	    <div class="col-lg-3">
	    	<h2>Send new message...</h2>
	    	<%= render partial: 'msg_form', object: message %>
	    </div>

	    <div class="col-lg-9">
		    <h2>Messages - ()</h2>
		    <%= render partial: 'message', collection: messages %>
		</div>
	</div>
<% else %>
<% end %>